{
  "openapi": "3.0.3",
  "info": {
    "title": "Up API",
    "version": "v1",
    "description": "The Up API gives you programmatic access to your balances and\ntransaction data. You can request past transactions or set up\nwebhooks to receive real-time events when new transactions hit your\naccount. It’s new, it’s exciting and it’s just the beginning.\n",
    "contact": {
      "name": "API Specification and Support",
      "url": "https://github.com/up-banking/api"
    }
  },
  "servers": [
    {
      "url": "https://api.up.com.au/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer_auth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AccountTypeEnum": {
        "enum": [
          "SAVER",
          "TRANSACTIONAL"
        ],
        "description": "Specifies the type of bank account. Currently returned values are `SAVER`\nand `TRANSACTIONAL`.\n"
      },
      "MoneyObject": {
        "type": "object",
        "description": "Provides information about a value of money.\n",
        "properties": {
          "currencyCode": {
            "type": "string",
            "description": "The ISO 4217 currency code.\n"
          },
          "value": {
            "type": "string",
            "description": "The amount of money, formatted as a string in the relevant currency.\nFor example, for an Australian dollar value of $10.56, this field will\nbe `\"10.56\"`. The currency symbol is not included in the string.\n"
          },
          "valueInBaseUnits": {
            "type": "integer",
            "description": "The amount of money in the smallest denomination for the currency, as a\n64-bit integer.  For example, for an Australian dollar value of $10.56,\nthis field will be `1056`.\n"
          }
        },
        "required": [
          "currencyCode",
          "value",
          "valueInBaseUnits"
        ]
      },
      "AccountResource": {
        "type": "object",
        "description": "Provides information about an Up bank account.\n",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for this account.\n"
          },
          "type": {
            "type": "string",
            "description": "The type of this resource: `accounts`"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The name associated with the account in the Up application.\n"
              },
              "accountType": {
                "description": "The bank account type of this account.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AccountTypeEnum"
                  }
                ]
              },
              "balance": {
                "description": "The available balance of the account, taking into account any amounts\nthat are currently on hold.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MoneyObject"
                  }
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "The date-time at which this account was first opened.\n"
              }
            },
            "required": [
              "displayName",
              "accountType",
              "balance",
              "createdAt"
            ]
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this resource.\n"
              }
            },
            "required": [
              "self"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "transactions": {
                "type": "object",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "description": "The link to get the related resource data for this relationship.\n"
                      }
                    },
                    "required": [
                      "related"
                    ]
                  }
                }
              }
            },
            "required": [
              "transactions"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "attributes",
          "relationships"
        ]
      },
      "ListAccountsResponse": {
        "type": "object",
        "description": "Successful response to get all accounts. This returns a paginated list of\naccounts, which can be scrolled by following the `prev` and `next` links\nif present.\n",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountResource"
            },
            "description": "The list of accounts returned in this response.\n"
          },
          "links": {
            "type": "object",
            "properties": {
              "prev": {
                "type": "string",
                "nullable": true,
                "description": "The link to the previous page in the results. If this value is `null`\nthere is no previous page.\n"
              },
              "next": {
                "type": "string",
                "nullable": true,
                "description": "The link to the next page in the results. If this value is `null`\nthere is no next page.\n"
              }
            },
            "required": [
              "prev",
              "next"
            ]
          }
        },
        "required": [
          "data",
          "links"
        ]
      },
      "GetAccountResponse": {
        "type": "object",
        "description": "Successful response to get a single account.\n",
        "properties": {
          "data": {
            "description": "The account returned in this response.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountResource"
              }
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "PingResponse": {
        "type": "object",
        "description": "Basic ping response to verify authentication.\n",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The unique identifier of the authenticated customer.\n"
              },
              "statusEmoji": {
                "type": "string",
                "description": "A cute emoji that represents the response status.\n"
              }
            },
            "required": [
              "id",
              "statusEmoji"
            ]
          }
        },
        "required": [
          "meta"
        ]
      },
      "ErrorObject": {
        "type": "object",
        "description": "Provides information about an error processing a request.\n",
        "properties": {
          "status": {
            "type": "string",
            "description": "The HTTP status code associated with this error. This can also be\nobtained from the response headers. The status indicates the broad type\nof error according to HTTP semantics.\n"
          },
          "title": {
            "type": "string",
            "description": "A short description of this error. This should be stable across\nmultiple occurrences of this type of error and typically expands on the\nreason for the status code.\n"
          },
          "detail": {
            "type": "string",
            "description": "A detailed description of this error. This should be considered unique\nto individual occurrences of an error and subject to change. It is\nuseful for debugging purposes.\n"
          },
          "source": {
            "type": "object",
            "properties": {
              "parameter": {
                "type": "string",
                "description": "If this error relates to a query parameter, the name of the\nparameter.\n"
              },
              "pointer": {
                "type": "string",
                "description": "If this error relates to an attribute in the request body, a\nrfc-6901 JSON pointer to the attribute.\n"
              }
            },
            "description": "If applicable, location in the request that this error relates to. This\nmay be a parameter in the query string, or a an attribute in the\nrequest body.\n"
          }
        },
        "required": [
          "status",
          "title",
          "detail"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Generic error response that returns one or more errors.\n",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorObject"
            },
            "description": "The list of errors returned in this response.\n"
          }
        },
        "required": [
          "errors"
        ]
      },
      "TransactionStatusEnum": {
        "enum": [
          "HELD",
          "SETTLED"
        ],
        "description": "Specifies which stage of processing a transaction is currently at.\nCurrently returned values are `HELD` and `SETTLED`. When a transaction is\nheld, its account’s `availableBalance` is affected. When a transaction is\nsettled, its account’s `currentBalance` is affected.\n"
      },
      "HoldInfoObject": {
        "type": "object",
        "description": "Provides information about the amount at which a transaction was in the\n`HELD` status.\n",
        "properties": {
          "amount": {
            "description": "The amount of this transaction while in the `HELD` status, in\nAustralian dollars.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/MoneyObject"
              }
            ]
          },
          "foreignAmount": {
            "nullable": true,
            "description": "The foreign currency amount of this transaction while in the `HELD`\nstatus. This field will be `null` for domestic transactions. The amount\nwas converted to the AUD amount reflected in the `amount` field.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/MoneyObject"
              }
            ]
          }
        },
        "required": [
          "amount",
          "foreignAmount"
        ]
      },
      "RoundUpObject": {
        "type": "object",
        "description": "Provides information about how a Round Up was applied, such as whether or\nnot a boost was included in the Round Up.\n",
        "properties": {
          "amount": {
            "description": "The total amount of this Round Up, represented as negative value.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/MoneyObject"
              }
            ]
          },
          "boostPortion": {
            "nullable": true,
            "description": "The portion of the Round Up `amount` owing to boosted Round Ups,\nrepresented as a negative value. If no boost was added to the Round Up\nthis field will be `null`.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/MoneyObject"
              }
            ]
          }
        },
        "required": [
          "amount",
          "boostPortion"
        ]
      },
      "CashbackObject": {
        "type": "object",
        "description": "Provides information about an instant reimbursement in the form of\ncashback.\n",
        "properties": {
          "description": {
            "type": "string",
            "description": "A brief description of why this cashback was paid.\n"
          },
          "amount": {
            "description": "The total amount of cashback paid, represented as a positive value.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/MoneyObject"
              }
            ]
          }
        },
        "required": [
          "description",
          "amount"
        ]
      },
      "TransactionResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for this transaction.\n"
          },
          "type": {
            "type": "string",
            "description": "The type of this resource: `transactions`"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "status": {
                "description": "The current processing status of this transaction, according to\nwhether or not this transaction has settled or is still held.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TransactionStatusEnum"
                  }
                ]
              },
              "rawText": {
                "type": "string",
                "nullable": true,
                "description": "The original, unprocessed text of the transaction. This is often not\na perfect indicator of the actual merchant, but it is useful for\nreconciliation purposes in some cases.\n"
              },
              "description": {
                "type": "string",
                "description": "A short description for this transaction. Usually the merchant name\nfor purchases.\n"
              },
              "message": {
                "type": "string",
                "nullable": true,
                "description": "Attached message for this transaction, such as a payment message, or a\ntransfer note.\n"
              },
              "holdInfo": {
                "nullable": true,
                "description": "If this transaction is currently in the `HELD` status, or was ever in\nthe `HELD` status, the `amount` and `foreignAmount` of the\ntransaction while `HELD`.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HoldInfoObject"
                  }
                ]
              },
              "roundUp": {
                "nullable": true,
                "description": "Details of how this transaction was rounded-up. If no Round Up was\napplied this field will be `null`.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RoundUpObject"
                  }
                ]
              },
              "cashback": {
                "nullable": true,
                "description": "If all or part of this transaction was instantly reimbursed in the\nform of cashback, details of the reimbursement.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CashbackObject"
                  }
                ]
              },
              "amount": {
                "description": "The amount of this transaction in Australian dollars. For\ntransactions that were once `HELD` but are now `SETTLED`, refer to\nthe `holdInfo` field for the original `amount` the transaction was\n`HELD` at.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MoneyObject"
                  }
                ]
              },
              "foreignAmount": {
                "nullable": true,
                "description": "The foreign currency amount of this transaction. This field will be\n`null` for domestic transactions. The amount was converted to the AUD\namount reflected in the `amount` of this transaction. Refer to the\n`holdInfo` field for the original `foreignAmount` the transaction was\n`HELD` at.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MoneyObject"
                  }
                ]
              },
              "settledAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "The date-time at which this transaction settled. This field will be\n`null` for transactions that are currently in the `HELD` status.\n"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "The date-time at which this transaction was first encountered.\n"
              }
            },
            "required": [
              "status",
              "rawText",
              "description",
              "message",
              "holdInfo",
              "roundUp",
              "cashback",
              "amount",
              "foreignAmount",
              "settledAt",
              "createdAt"
            ]
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this resource.\n"
              }
            },
            "required": [
              "self"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "account": {
                "type": "object",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "description": "The link to get the related resource data for this relationship.\n"
                      }
                    },
                    "required": [
                      "related"
                    ]
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            },
            "required": [
              "account"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "attributes",
          "relationships"
        ]
      },
      "ListTransactionsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionResource"
            },
            "description": "The list of transactions returned in this response.\n"
          },
          "links": {
            "type": "object",
            "properties": {
              "prev": {
                "type": "string",
                "nullable": true,
                "description": "The link to the previous page in the results. If this value is `null`\nthere is no previous page.\n"
              },
              "next": {
                "type": "string",
                "nullable": true,
                "description": "The link to the next page in the results. If this value is `null`\nthere is no next page.\n"
              }
            },
            "required": [
              "prev",
              "next"
            ]
          }
        },
        "required": [
          "data",
          "links"
        ]
      },
      "GetTransactionResponse": {
        "type": "object",
        "description": "Successful response to get a single transaction.\n",
        "properties": {
          "data": {
            "description": "The transaction returned in this response.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/TransactionResource"
              }
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "WebhookResource": {
        "type": "object",
        "description": "Provides information about a webhook.\n",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for this webhook.\n"
          },
          "type": {
            "type": "string",
            "description": "The type of this resource: `webhooks`"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "The URL that this webhook is configured to `POST` events to.\n"
              },
              "description": {
                "type": "string",
                "nullable": true,
                "description": "An optional description that was provided at the time the webhook was\ncreated.\n"
              },
              "secretKey": {
                "type": "string",
                "description": "A shared secret key used to sign all webhook events sent to the\nconfigured webhook URL. This field is returned only once, upon the\ninitial creation of the webhook. If lost, create a new webhook and\ndelete this webhook.\n\nThe webhook URL receives a request with a\n`X-Up-Authenticity-Signature` header, which is the SHA-256 HMAC of\nthe entire raw request body signed using this `secretKey`. It is\nadvised to compute and check this signature to verify the\nauthenticity of requests sent to the webhook URL. See\n[Handling webhook events](#callback_post_webhookURL) for full\ndetails.\n"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "The date-time at which this webhook was created.\n"
              }
            },
            "required": [
              "url",
              "description",
              "createdAt"
            ]
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this resource.\n"
              }
            },
            "required": [
              "self"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "logs": {
                "type": "object",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "description": "The link to get the related resource data for this relationship.\n"
                      }
                    },
                    "required": [
                      "related"
                    ]
                  }
                }
              }
            },
            "required": [
              "logs"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "attributes",
          "relationships"
        ]
      },
      "ListWebhooksResponse": {
        "type": "object",
        "description": "Successful response to get all webhooks. This returns a paginated list of\nwebhooks, which can be scrolled by following the `prev` and `next` links\nif present.\n",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookResource"
            },
            "description": "The list of webhooks returned in this response.\n"
          },
          "links": {
            "type": "object",
            "properties": {
              "prev": {
                "type": "string",
                "nullable": true,
                "description": "The link to the previous page in the results. If this value is `null`\nthere is no previous page.\n"
              },
              "next": {
                "type": "string",
                "nullable": true,
                "description": "The link to the next page in the results. If this value is `null`\nthere is no next page.\n"
              }
            },
            "required": [
              "prev",
              "next"
            ]
          }
        },
        "required": [
          "data",
          "links"
        ]
      },
      "WebhookInputResource": {
        "type": "object",
        "description": "Represents a webhook specified as request input.\n",
        "properties": {
          "attributes": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "The URL that this webhook should post events to. This must be a valid\nHTTP or HTTPS URL that does not exceed 120 characters in length.\n"
              },
              "description": {
                "type": "string",
                "nullable": true,
                "description": "An optional description for this webhook, up to 64 characters in\nlength.\n"
              }
            },
            "required": [
              "url"
            ]
          }
        },
        "required": [
          "attributes"
        ]
      },
      "CreateWebhookRequest": {
        "type": "object",
        "description": "Request to create a new webhook. This currently only requires a `url`\nattribute.\n",
        "properties": {
          "data": {
            "description": "The webhook resource to create.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookInputResource"
              }
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "CreateWebhookResponse": {
        "type": "object",
        "description": "Successful response after creating a webhook.\n",
        "properties": {
          "data": {
            "description": "The webhook that was created.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookResource"
              }
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "WebhookEventTypeEnum": {
        "enum": [
          "TRANSACTION_CREATED",
          "TRANSACTION_SETTLED",
          "TRANSACTION_DELETED",
          "PING"
        ],
        "description": "Specifies the type of a webhook event. This can be used to determine what\naction to take in response to the event, such as which relationships to\nexpect.\n"
      },
      "WebhookEventResource": {
        "type": "object",
        "description": "Provides the event data used in asynchronous webhook event callbacks to\nsubscribed endpoints. Webhooks events have defined `eventType`s and may\noptionally relate to other resources within the Up API.\n",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for this event. This will remain constant across\ndelivery retries.\n"
          },
          "type": {
            "type": "string",
            "description": "The type of this resource: `webhook-events`"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "eventType": {
                "description": "The type of this event. This can be used to determine what action to\ntake in response to the event.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WebhookEventTypeEnum"
                  }
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "The date-time at which this event was generated.\n"
              }
            },
            "required": [
              "eventType",
              "createdAt"
            ]
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this resource.\n"
              }
            },
            "required": [
              "self"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "webhook": {
                "type": "object",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "description": "The link to get the related resource data for this relationship.\n"
                      }
                    },
                    "required": [
                      "related"
                    ]
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              },
              "transaction": {
                "type": "object",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "description": "The link to get the related resource data for this relationship.\n"
                      }
                    },
                    "required": [
                      "related"
                    ]
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            },
            "required": [
              "webhook"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "attributes",
          "relationships"
        ]
      },
      "WebhookEventCallback": {
        "type": "object",
        "description": "Asynchronous callback request used for webhook event delivery.\n",
        "properties": {
          "data": {
            "description": "The webhook event data sent to the subscribed webhook.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookEventResource"
              }
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "GetWebhookResponse": {
        "type": "object",
        "description": "Successful response to get a single webhook.\n",
        "properties": {
          "data": {
            "description": "The webhook returned in this response.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookResource"
              }
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "WebhookDeliveryStatusEnum": {
        "enum": [
          "DELIVERED",
          "UNDELIVERABLE",
          "BAD_RESPONSE_CODE"
        ],
        "description": "Specifies the nature of the success or failure of a webhook delivery\nattempt to the subscribed webhook URL. The currently returned values are\ndescribed below:\n\n- **`DELIVERED`**: The event was delivered to the webhook URL\n  successfully and a `200` response was received.\n- **`UNDELIVERABLE`**: The webhook URL was not reachable, or timed out.\n- **`BAD_RESPONSE_CODE`**: The event was delivered to the webhook URL\n  but a non-`200` response was received.\n"
      },
      "WebhookDeliveryLogResource": {
        "type": "object",
        "description": "Provides historical webhook event delivery information for analysis and\ndebugging purposes.\n",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for this log entry.\n"
          },
          "type": {
            "type": "string",
            "description": "The type of this resource: `webhook-delivery-logs`"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "request": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The payload that was sent in the request body.\n"
                  }
                },
                "required": [
                  "body"
                ],
                "description": "Information about the request that was sent to the webhook URL.\n"
              },
              "response": {
                "type": "object",
                "properties": {
                  "statusCode": {
                    "type": "integer",
                    "description": "The HTTP status code received in the response.\n"
                  },
                  "body": {
                    "type": "string",
                    "description": "The payload that was recieved in the response body.\n"
                  }
                },
                "required": [
                  "statusCode",
                  "body"
                ],
                "nullable": true,
                "description": "Information about the response that was received from the webhook URL.\n"
              },
              "deliveryStatus": {
                "description": "The success or failure status of this delivery attempt.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WebhookDeliveryStatusEnum"
                  }
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "The date-time at which this log entry was created.\n"
              }
            },
            "required": [
              "request",
              "response",
              "deliveryStatus",
              "createdAt"
            ]
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "The canonical link to this resource.\n"
              }
            },
            "required": [
              "self"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "webhookEvent": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            },
            "required": [
              "webhookEvent"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "attributes",
          "relationships"
        ]
      },
      "ListWebhookDeliveryLogsResponse": {
        "type": "object",
        "description": "Successful response to get all delivery logs for a webhook. This returns\na [paginated](#pagination) list of delivery logs, which can be scrolled\nby following the `next` and `prev` links if present.\n",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDeliveryLogResource"
            },
            "description": "The list of delivery logs returned in this response.\n"
          },
          "links": {
            "type": "object",
            "properties": {
              "prev": {
                "type": "string",
                "nullable": true,
                "description": "The link to the previous page in the results. If this value is `null`\nthere is no previous page.\n"
              },
              "next": {
                "type": "string",
                "nullable": true,
                "description": "The link to the next page in the results. If this value is `null`\nthere is no next page.\n"
              }
            },
            "required": [
              "prev",
              "next"
            ]
          }
        },
        "required": [
          "data",
          "links"
        ]
      }
    }
  },
  "security": [
    {
      "bearer_auth": [

      ]
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Accounts represent the underlying store used to track balances\nand the transactions that have occurred to modify those balances\nover time. Up currently has two types of account: `SAVER`—used to\nearn interest and to hit savings goals, and `TRANSACTIONAL`—used\nfor everyday spending.\n"
    },
    {
      "name": "Transactions",
      "description": "Transactions represent the movement of money into and out of an\naccount. They have many characteristics that vary depending on\nthe kind of transaction. Transactions may be tempoarily `HELD`\n(pending) or `SETTLED`, typically depending on which payment\nmethod was used at the point of sale.\n"
    },
    {
      "name": "Webhooks",
      "description": "Webhooks provide a mechanism for a configured URL to receive\nevents when transaction activity occurs on Up. You can think of\nwebhooks as being like push notifications for your server-side\napplication.\n"
    },
    {
      "name": "Utility endpoints",
      "description": "Some endpoints exist not to expose data, but to test the API\nitself. Currently there is only one endpoint in this group: ping!\n"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "Retrieve a paginated list of all accounts for the currently\nauthenticated user. The returned list is paginated and can be scrolled\nby following the `prev` and `next` links where present.\n",
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "example": 30,
            "description": "The number of records to return in each page.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountsResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:FGTCyzPSCNiYpNkb"
                },
                "pathParameters": {
                },
                "queryParameters": {
                  "page[size]": 1
                },
                "payload": null
              },
              "response": {
                "data": [
                  {
                    "id": "2d036a9d-ab4d-4f3d-b53b-602c54131820",
                    "type": "accounts",
                    "attributes": {
                      "displayName": "Up Account",
                      "accountType": "TRANSACTIONAL",
                      "balance": {
                        "currencyCode": "AUD",
                        "value": "1.00",
                        "valueInBaseUnits": 100
                      },
                      "createdAt": "2020-07-29T13:50:07+10:00"
                    },
                    "links": {
                      "self": "https://api.up.com.au/api/v1/accounts/2d036a9d-ab4d-4f3d-b53b-602c54131820"
                    },
                    "relationships": {
                      "transactions": {
                        "links": {
                          "related": "https://api.up.com.au/api/v1/accounts/2d036a9d-ab4d-4f3d-b53b-602c54131820/transactions"
                        }
                      }
                    }
                  }
                ],
                "links": {
                  "prev": null,
                  "next": "https://api.up.com.au/api/v1/accounts?page%5Bafter%5D=WyIyMDIwLTA3LTI5VDAzOjUwOjA3Ljk4NTA4MjAwMFoiLCIyZDAzNmE5ZC1hYjRkLTRmM2QtYjUzYi02MDJjNTQxMzE4MjAiXQ%3D%3D&page%5Bsize%5D=1"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve account",
        "description": "Retrieve a specific account by providing its unique identifier.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "3f87c472-74a8-4eb6-9854-9def8b3cbbd9",
            "description": "The unique identifier for the account.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:SPsYFwc0M25zvHOO"
                },
                "pathParameters": {
                  "id": "089a639b-f3f8-4302-ae4a-92a28719897f"
                },
                "queryParameters": {
                },
                "payload": null
              },
              "response": {
                "data": {
                  "id": "089a639b-f3f8-4302-ae4a-92a28719897f",
                  "type": "accounts",
                  "attributes": {
                    "displayName": "Savings",
                    "accountType": "SAVER",
                    "balance": {
                      "currencyCode": "AUD",
                      "value": "125.36",
                      "valueInBaseUnits": 12536
                    },
                    "createdAt": "2020-07-29T13:50:10+10:00"
                  },
                  "links": {
                    "self": "https://api.up.com.au/api/v1/accounts/089a639b-f3f8-4302-ae4a-92a28719897f"
                  },
                  "relationships": {
                    "transactions": {
                      "links": {
                        "related": "https://api.up.com.au/api/v1/accounts/089a639b-f3f8-4302-ae4a-92a28719897f/transactions"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/util/ping": {
      "get": {
        "tags": [
          "Utility endpoints"
        ],
        "summary": "Ping",
        "description": "Make a basic ping request to the API. This is useful to verify that\nauthentication is functioning correctly. On authentication success an\nHTTP `200` status is returned. On failure an HTTP `401` error response\nis returned.\n",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:j1gGlqhVMIz1bMay"
                },
                "pathParameters": {
                },
                "queryParameters": {
                },
                "payload": null
              },
              "response": {
                "meta": {
                  "id": "23ea2f06-34ae-4fbc-962e-9a9ccf276ab5",
                  "statusEmoji": "⚡️"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                },
                "pathParameters": {
                },
                "queryParameters": {
                },
                "payload": null
              },
              "response": {
                "errors": [
                  {
                    "status": "401",
                    "title": "Not Authorized",
                    "detail": "The request was not authenticated because no valid credential was found in the Authorization header, or the Authorization header was not present."
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions",
        "description": "Retrieve a list of all transactions across all accounts for the currently\nauthenticated user. The returned list is [paginated](#pagination) and can\nbe scrolled by following the `next` and `prev` links where present. To\nnarrow the results to a specific date range pass one or both of\n`filter[since]` and `filter[until]` in the query string. These filter\nparameters **should not** be used for pagination. Results are ordered\nnewest first to oldest last.\n",
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "example": 30,
            "description": "The number of records to return in each page.\n"
          },
          {
            "name": "filter[since]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "example": "2020-01-01T01:02:03+10:00",
            "description": "The start date-time from which to return records,\nformatted according to rfc-3339. Not to be used for\npagination purposes.\n"
          },
          {
            "name": "filter[until]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "example": "2020-02-01T01:02:03+10:00",
            "description": "The end date-time up to which to return records,\nformatted according to rfc-3339. Not to be used for\npagination purposes.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTransactionsResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:HgEvZWg0crq6RRzy"
                },
                "pathParameters": {
                },
                "queryParameters": {
                  "page[size]": 1
                },
                "payload": null
              },
              "response": {
                "data": [
                  {
                    "id": "8a00ff08-22ec-4f01-aaf7-079bbb864d80",
                    "type": "transactions",
                    "attributes": {
                      "status": "SETTLED",
                      "rawText": null,
                      "description": "David Taylor",
                      "message": "Money for the pizzas last night.",
                      "holdInfo": null,
                      "roundUp": null,
                      "cashback": null,
                      "amount": {
                        "currencyCode": "AUD",
                        "value": "-59.98",
                        "valueInBaseUnits": -5998
                      },
                      "foreignAmount": null,
                      "settledAt": "2020-07-28T06:48:16+10:00",
                      "createdAt": "2020-07-28T06:48:16+10:00"
                    },
                    "links": {
                      "self": "https://api.up.com.au/api/v1/transactions/8a00ff08-22ec-4f01-aaf7-079bbb864d80"
                    },
                    "relationships": {
                      "account": {
                        "links": {
                          "related": "https://api.up.com.au/api/v1/accounts/6f3d9126-0cf2-4520-9655-0f13fa58bdc4"
                        },
                        "data": {
                          "type": "accounts",
                          "id": "6f3d9126-0cf2-4520-9655-0f13fa58bdc4"
                        }
                      }
                    }
                  }
                ],
                "links": {
                  "prev": null,
                  "next": "https://api.up.com.au/api/v1/transactions?page%5Bafter%5D=WyIyMDIwLTA3LTI3VDIwOjQ4OjE2LjQzNTY2NDAwMFoiLCI4YTAwZmYwOC0yMmVjLTRmMDEtYWFmNy0wNzliYmI4NjRkODAiXQ%3D%3D&page%5Bsize%5D=1"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Retrieve transaction",
        "description": "Retrieve a specific transaction by providing its unique identifier.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "6e773835-789d-4c2a-9cf0-ecdfb0852e26",
            "description": "The unique identifier for the transaction.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:MgImwunp66cvFD1Q"
                },
                "pathParameters": {
                  "id": "1bcbfd0d-7af6-437f-bd1a-ba2e75238dc6"
                },
                "queryParameters": {
                },
                "payload": null
              },
              "response": {
                "data": {
                  "id": "1bcbfd0d-7af6-437f-bd1a-ba2e75238dc6",
                  "type": "transactions",
                  "attributes": {
                    "status": "SETTLED",
                    "rawText": "WARUNG BEBEK, UBUD INDONES",
                    "description": "Warung Bebek Bengil",
                    "message": null,
                    "holdInfo": {
                      "amount": {
                        "currencyCode": "AUD",
                        "value": "-107.92",
                        "valueInBaseUnits": -10792
                      },
                      "foreignAmount": {
                        "currencyCode": "IDR",
                        "value": "-1053698.77",
                        "valueInBaseUnits": -105369877
                      }
                    },
                    "roundUp": {
                      "amount": {
                        "currencyCode": "AUD",
                        "value": "-0.08",
                        "valueInBaseUnits": -8
                      },
                      "boostPortion": null
                    },
                    "cashback": null,
                    "amount": {
                      "currencyCode": "AUD",
                      "value": "-107.92",
                      "valueInBaseUnits": -10792
                    },
                    "foreignAmount": {
                      "currencyCode": "IDR",
                      "value": "-1053698.77",
                      "valueInBaseUnits": -105369877
                    },
                    "settledAt": "2020-07-24T11:47:18+10:00",
                    "createdAt": "2020-07-26T04:00:00+10:00"
                  },
                  "links": {
                    "self": "https://api.up.com.au/api/v1/transactions/1bcbfd0d-7af6-437f-bd1a-ba2e75238dc6"
                  },
                  "relationships": {
                    "account": {
                      "links": {
                        "related": "https://api.up.com.au/api/v1/accounts/ba7b1bed-4e71-4085-b6a4-e0f9865c037c"
                      },
                      "data": {
                        "type": "accounts",
                        "id": "ba7b1bed-4e71-4085-b6a4-e0f9865c037c"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions by account",
        "description": "Retrieve a list of all transactions for a specific account. The returned\nlist is [paginated](#pagination) and can be scrolled by following the\n`next` and `prev` links where present. To narrow the results to a\nspecific date range pass one or both of `filter[since]` and\n`filter[until]` in the query string. These filter parameters\n**should not** be used for pagination. Results are ordered newest first\nto oldest last.\n",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "2a55d61f-30b2-4dc5-8ddb-da091f4db904",
            "description": "The unique identifier for the account.\n"
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "example": 30,
            "description": "The number of records to return in each page.\n"
          },
          {
            "name": "filter[since]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "example": "2020-01-01T01:02:03+10:00",
            "description": "The start date-time from which to return records,\nformatted according to rfc-3339. Not to be used for\npagination purposes.\n"
          },
          {
            "name": "filter[until]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "example": "2020-02-01T01:02:03+10:00",
            "description": "The end date-time up to which to return records,\nformatted according to rfc-3339. Not to be used for\npagination purposes.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTransactionsResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:k0Pe45xQm1gqlgM7"
                },
                "pathParameters": {
                  "accountId": "6e0538c5-8089-48f7-a0bb-67ac52c98bef"
                },
                "queryParameters": {
                  "page[size]": 1
                },
                "payload": null
              },
              "response": {
                "data": [
                  {
                    "id": "d64affe3-0f5d-4aeb-866a-108ccdd84993",
                    "type": "transactions",
                    "attributes": {
                      "status": "SETTLED",
                      "rawText": null,
                      "description": "David Taylor",
                      "message": "Money for the pizzas last night.",
                      "holdInfo": null,
                      "roundUp": null,
                      "cashback": null,
                      "amount": {
                        "currencyCode": "AUD",
                        "value": "-59.98",
                        "valueInBaseUnits": -5998
                      },
                      "foreignAmount": null,
                      "settledAt": "2020-07-28T06:48:22+10:00",
                      "createdAt": "2020-07-28T06:48:22+10:00"
                    },
                    "links": {
                      "self": "https://api.up.com.au/api/v1/transactions/d64affe3-0f5d-4aeb-866a-108ccdd84993"
                    },
                    "relationships": {
                      "account": {
                        "links": {
                          "related": "https://api.up.com.au/api/v1/accounts/6e0538c5-8089-48f7-a0bb-67ac52c98bef"
                        },
                        "data": {
                          "type": "accounts",
                          "id": "6e0538c5-8089-48f7-a0bb-67ac52c98bef"
                        }
                      }
                    }
                  }
                ],
                "links": {
                  "prev": null,
                  "next": "https://api.up.com.au/api/v1/accounts/6e0538c5-8089-48f7-a0bb-67ac52c98bef/transactions?page%5Bafter%5D=WyIyMDIwLTA3LTI3VDIwOjQ4OjIyLjc5NDc5NzAwMFoiLCJkNjRhZmZlMy0wZjVkLTRhZWItODY2YS0xMDhjY2RkODQ5OTMiXQ%3D%3D&page%5Bsize%5D=1"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Retrieve a list of configured webhooks. The returned list is\n[paginated](#pagination) and can be scrolled by following the `next`\nand `prev` links where present. Results are ordered oldest first to\nnewest last.\n",
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "example": 30,
            "description": "The number of records to return in each page.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:COOEGhpBHwHE8JHZ"
                },
                "pathParameters": {
                },
                "queryParameters": {
                  "page[size]": 1
                },
                "payload": null
              },
              "response": {
                "data": [
                  {
                    "id": "fb129a9d-14b0-4c59-adf1-0ad0f263fb36",
                    "type": "webhooks",
                    "attributes": {
                      "url": "http://example.com/webhook-1",
                      "description": "Webhook number 1",
                      "createdAt": "2020-07-27T13:50:24+10:00"
                    },
                    "links": {
                      "self": "https://api.up.com.au/api/v1/webhooks/fb129a9d-14b0-4c59-adf1-0ad0f263fb36"
                    },
                    "relationships": {
                      "logs": {
                        "links": {
                          "related": "https://api.up.com.au/api/v1/webhooks/fb129a9d-14b0-4c59-adf1-0ad0f263fb36/logs"
                        }
                      }
                    }
                  }
                ],
                "links": {
                  "prev": null,
                  "next": "https://api.up.com.au/api/v1/webhooks?page%5Bafter%5D=WyIyMDIwLTA3LTI3VDAzOjUwOjI0LjM2OTY0NTAwMFoiLCJmYjEyOWE5ZC0xNGIwLTRjNTktYWRmMS0wYWQwZjI2M2ZiMzYiXQ%3D%3D&page%5Bsize%5D=1"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Create a new webhook with a given URL. The URL will receive webhook\nevents as JSON-encoded `POST` requests. The URL must respond with a HTTP\n`200` status on success.\n\nThere is currently a limit of 10 webhooks at any given time. Once this\nlimit is reached, existing webhooks will need to be deleted before new\nwebhooks can be created.\n\nEvent delivery is retried with exponential backoff if the URL is\nunreachable or it does not respond with a `200` status. The response\nincludes a `secretKey` attribute, which is used to sign requests sent to\nthe webhook URL. It will not be returned from any other endpoints within\nthe Up API. If the `secretKey` is lost, simply create a new webhook with\nthe same URL, capture its `secretKey` and then delete the original\nwebhook. See [Handling webhook events](#callback_post_webhookURL) for\ndetails on how to process webhook events.\n\nIt is probably a good idea to test the webhook by\n[sending it a `PING` event](#post_webhooks_webhookId_ping) after creating\nit.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:llp0bpGPsp5EUpyE",
                  "Content-Type": "application/json"
                },
                "pathParameters": {
                },
                "queryParameters": {
                },
                "payload": {
                  "data": {
                    "attributes": {
                      "url": "http://example.com/webhook",
                      "description": "Example webhook"
                    }
                  }
                }
              },
              "response": {
                "data": {
                  "id": "d875c2d1-9a98-4ede-94e3-9493e3eb5ebe",
                  "type": "webhooks",
                  "attributes": {
                    "url": "http://example.com/webhook",
                    "description": "Example webhook",
                    "secretKey": "nogrMWKIiMuODfsbSAlF48V6OovIjDH3f8ZiilbdaZp0lMPk4RUsITWmXcfGmH6w",
                    "createdAt": "2020-07-29T13:50:25+10:00"
                  },
                  "links": {
                    "self": "https://api.up.com.au/api/v1/webhooks/d875c2d1-9a98-4ede-94e3-9493e3eb5ebe"
                  },
                  "relationships": {
                    "logs": {
                      "links": {
                        "related": "https://api.up.com.au/api/v1/webhooks/d875c2d1-9a98-4ede-94e3-9493e3eb5ebe/logs"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "callbacks": {
          "Event": {
            "{webhookURL}": {
              "post": {
                "summary": "Handling webhook events",
                "description": "Once you have created a webhook in the Up API, events are sent to the\nwebhook’s configured URL as JSON-encoded `POST` requests. The webhook\nURL must respond with a HTTP `200` status on success.\n\nIt is important that the URL responds in a timely manner. If the URL\ntakes too long to respond (currently 30s), the request will be timed\nout. For this reason it is strongly advised to avoid any heavy\nprocessing before a response has been returned from the URL. A common\nsolution to this problem is to use a message broker such as RabbitMQ\nto do the work asynchronously.\n\nEvent delivery is retried with exponential backoff in the case of any\nnon `200` response status, if the URL is unreachable, or if the request\nis timed out.\n\nRefer to the `eventType` attribute in order to determine what course of\naction to take when handling the event. The following event types are\ncurrently sent:\n\n**`PING`**\n\nManually triggered by calls to the webhook `ping` endpoint. Used for\ntesting and debugging purposes.\n\n**`TRANSACTION_CREATED`**\n\nTriggered whenever a new transaction is created in Up. This event\nincludes a `transaction` relationship that provides the unique\nidentifier for the transaction and a link to the transaction within the\nUp API. This link should be used to retrieve the complete transaction\ndata.\n\n**`TRANSACTION_SETTLED`**\n\nTriggered whenever a transaction transitions from the `HELD` status to\nthe `SETTLED` status. This event includes a `transaction` relationship\nthat provides the unique identifier for the transaction and a link to\nthe transaction within the Up API. This link should be used to retrieve\nthe complete transaction data.\n\nDue to external factors in banking processes, on rare occasions this\nevent may not be triggered. Separate `TRANSACTION_DELETED` and\n`TRANSACTION_CREATED` events will be received in its place.\n\n**`TRANSACTION_DELETED`**\n\nTriggered whenever a `HELD` transaction is deleted from Up. This\ngenerally occurs for example when a hotel deposit is returned. This\nevent includes a `transaction` relationship that provides the unique\nidentifier for the transaction, however no link is provided to the\ntransaction within the Up API as it no longer exists.\n\n## Securing Webhook Event Handlers\n\nIncoming webhook event requests include a `X-Up-Authenticity-Signature`\nheader, which can be used to verify that the event was sent by Up.\nVerification of the signature requires knowledge of the shared\n`secretKey` that was returned upon creation of the webhook. This key is\nknown only to your application and to Up.\n\nThe verification process involves:\n\n1. Taking the raw, unparsed webhook event request body.\n2. Computing the SHA-256 HMAC signature of the request body, using the\n   shared `secretKey`.\n3. Comparing the computed HMAC signature with the value of the\n   `X-Up-Authenticity-Signature` header.\n\nIf the computed SHA-256 HMAC signature matches the\n`X-Up-Authenticity-Signature` header, the request is valid.\n\nA few language-specific examples follow.\n\n**Ruby**:\n\nThis example uses the Ruby on Rails framework.\n\n```ruby\nrequire 'openssl'\n\ndef handle_webhook_event\n  received_signature =\n    request.headers['X-Up-Authenticity-Signature']\n\n  signature = OpenSSL::HMAC.hexdigest(\n    'SHA256',\n    secret_key,\n    request.raw_post,\n  )\n\n  if Rack::Utils.secure_compare(received_signature, signature)\n    # Process webhook event\n  end\nend\n```\n\n**PHP**:\n\nThis example uses the Laravel framework.\n\n```php\npublic function handleWebhookEvent(Request $request) {\n    $received_signature = $request->header(\n        'X-Up-Authenticity-Signature',\n    );\n    $raw_body = file_get_contents('php://input');\n    $signature = hash_hmac('sha256', $raw_body, $secret_key);\n\n    if (hash_equals($signature, $received_signature)) {\n        // Process webhook event\n    }\n}\n```\n\n**Go**:\n\nThis example is in plain Go.\n\n```go\nimport (\n    \"crypto/hmac\"\n    \"crypto/sha256\"\n    \"encoding/hex\"\n    \"io\"\n    \"net/http\"\n)\n\nfunc handleWebhookEvent(w http.ResponseWriter, r *http.Request) {\n    received_signature, _ := hex.DecodeString(\n        r.Header.Get(\"X-Up-Authenticity-Signature\"),\n    )\n\n    mac := hmac.New(sha256.New, secret_key)\n    io.Copy(mac, r.Body)\n    signature := mac.Sum(nil)\n\n    if hmac.Equal(signature, received_signature)\n        // Process webhook event\n    }\n}\n```\n\nIf the `secretKey` for a webhook is lost, simply create a new webhook\nwith the same URL, capture the returned `secretKey` and delete the\noriginal webhook.\n",
                "parameters": [
                  {
                    "name": "X-Up-Authenticity-Signature",
                    "in": "header",
                    "schema": {
                      "type": "string"
                    },
                    "required": false,
                    "example": "317c0a8ea81df3f53c1d2aef5dcbf60492d0df557197b2990e71daa4a0693364",
                    "description": "The SHA-256 HMAC signature of the raw request body, signed using\nthe `secretKey` of the webhook.\n"
                  }
                ],
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookEventCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Successful Response"
                  }
                },
                "x-up:example": {
                  "type": "examplePayload",
                  "payload": {
                    "data": {
                      "id": "4736994b-e93b-4899-8e66-175af2fd65ba",
                      "type": "webhook-events",
                      "attributes": {
                        "eventType": "TRANSACTION_CREATED",
                        "createdAt": "2020-07-29T13:50:25+10:00"
                      },
                      "relationships": {
                        "webhook": {
                          "links": {
                            "related": "https://api.up.com.au/api/v1/webhooks/3c6c7688-0a1a-44f9-a561-545df684ae6d"
                          },
                          "data": {
                            "type": "webhooks",
                            "id": "3c6c7688-0a1a-44f9-a561-545df684ae6d"
                          }
                        },
                        "transaction": {
                          "links": {
                            "related": "https://api.up.com.au/api/v1/transactions/48ded41a-9a5a-4726-8ca2-d2fda8dfc31d"
                          },
                          "data": {
                            "type": "transactions",
                            "id": "48ded41a-9a5a-4726-8ca2-d2fda8dfc31d"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve webhook",
        "description": "Retrieve a specific webhook by providing its unique identifier.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "c455248b-40f7-4c62-b581-a9c09fe0efa6",
            "description": "The unique identifier for the webhook.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhookResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:hGsG2w9nml56V5Yi"
                },
                "pathParameters": {
                  "id": "73b200d8-ee80-4748-87ef-0bc430d64405"
                },
                "queryParameters": {
                },
                "payload": null
              },
              "response": {
                "data": {
                  "id": "73b200d8-ee80-4748-87ef-0bc430d64405",
                  "type": "webhooks",
                  "attributes": {
                    "url": "http://example.com/webhook-2",
                    "description": "Webhook number 2",
                    "createdAt": "2020-07-28T13:50:27+10:00"
                  },
                  "links": {
                    "self": "https://api.up.com.au/api/v1/webhooks/73b200d8-ee80-4748-87ef-0bc430d64405"
                  },
                  "relationships": {
                    "logs": {
                      "links": {
                        "related": "https://api.up.com.au/api/v1/webhooks/73b200d8-ee80-4748-87ef-0bc430d64405/logs"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Delete a specific webhook by providing its unique identifier. Once\ndeleted, webhook events will no longer be sent to the configured URL.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "bc39de04-4feb-47b9-b4ca-61a5341f4ba1",
            "description": "The unique identifier for the webhook.\n"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:8HvR65TMbXAoo2DA"
                },
                "pathParameters": {
                  "id": "b90d2e29-6ad9-46f2-93ba-40cb082fbb7f"
                },
                "queryParameters": {
                },
                "payload": null
              },
              "response": null
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}/ping": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Ping webhook",
        "description": "Send a `PING` event to a webhook by providing its unique identifier.\nThis is useful for testing and debugging purposes. The event is delivered\nasynchronously and its data is returned in the response to this request.\n",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "d7d318d8-91d4-4e53-99a9-0fc8253b84d9",
            "description": "The unique identifier for the webhook.\n"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEventCallback"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:JEyLKoNBU8JZIj8c"
                },
                "pathParameters": {
                  "webhookId": "9d7f2e73-00fc-41ee-b072-09b829c7ec6f"
                },
                "queryParameters": {
                },
                "payload": null
              },
              "response": {
                "data": {
                  "id": "edabf6b2-7d4b-4220-a5eb-a3fa218ef435",
                  "type": "webhook-events",
                  "attributes": {
                    "eventType": "PING",
                    "createdAt": "2020-07-29T13:50:29+10:00"
                  },
                  "relationships": {
                    "webhook": {
                      "links": {
                        "related": "https://api.up.com.au/api/v1/webhooks/9d7f2e73-00fc-41ee-b072-09b829c7ec6f"
                      },
                      "data": {
                        "type": "webhooks",
                        "id": "9d7f2e73-00fc-41ee-b072-09b829c7ec6f"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}/logs": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhook logs",
        "description": "Retrieve a list of delivery logs for a webhook by providing its unique\nidentifier. This is useful for analysis and debugging purposes. The\nreturned list is [paginated](#pagination) and can be scrolled by\nfollowing the `next` and `prev` links where present. Results are ordered\nnewest first to oldest last. Logs may be automatically purged after a\nperiod of time.\n",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "f78045b8-36a4-4d88-bfe1-19db98049a3b",
            "description": "The unique identifier for the webhook.\n"
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "example": 30,
            "description": "The number of records to return in each page.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookDeliveryLogsResponse"
                }
              }
            },
            "x-up:example": {
              "type": "exampleRequestResponse",
              "request": {
                "headers": {
                  "Authorization": "Bearer up:demo:zaSKwY2qKbXHkLmW"
                },
                "pathParameters": {
                  "webhookId": "c368562f-cb49-44d0-bb66-4a1c5baa64a6"
                },
                "queryParameters": {
                  "page[size]": 1
                },
                "payload": null
              },
              "response": {
                "data": [
                  {
                    "id": "e9b97076-5fa9-4f66-b66f-b18c42c91af3",
                    "type": "webhook-delivery-logs",
                    "attributes": {
                      "request": {
                        "body": "{\"data\":{\"id\":\"48759331-ff43-4e63-98fa-d9f91333a7be\",\"type\":\"webhook-events\",\"attributes\":{\"eventType\":\"TRANSACTION_CREATED\",\"createdAt\":\"2020-07-28T13:51:31+10:00\"},\"relationships\":{\"webhook\":{\"links\":{\"related\":\"https://api.up.com.au/api/v1/webhooks/c368562f-cb49-44d0-bb66-4a1c5baa64a6\"},\"data\":{\"type\":\"webhooks\",\"id\":\"c368562f-cb49-44d0-bb66-4a1c5baa64a6\"}},\"transaction\":{\"links\":{\"related\":\"https://api.up.com.au/api/v1/transactions/e9296f47-c0d6-4b2c-94b4-eb77d1505cd3\"},\"data\":{\"type\":\"transactions\",\"id\":\"e9296f47-c0d6-4b2c-94b4-eb77d1505cd3\"}}}}}"
                      },
                      "response": {
                        "statusCode": 200,
                        "body": "{\"ok\":true}"
                      },
                      "deliveryStatus": "DELIVERED",
                      "createdAt": "2020-07-28T13:51:31+10:00"
                    },
                    "relationships": {
                      "webhookEvent": {
                        "data": {
                          "type": "webhook-events",
                          "id": "48759331-ff43-4e63-98fa-d9f91333a7be"
                        }
                      }
                    }
                  }
                ],
                "links": {
                  "prev": null,
                  "next": "https://api.up.com.au/api/v1/webhooks/c368562f-cb49-44d0-bb66-4a1c5baa64a6/logs?page%5Bafter%5D=WyIyMDIwLTA3LTI4VDAzOjUxOjMxLjIxNTE5NjAwMFoiLCJlOWI5NzA3Ni01ZmE5LTRmNjYtYjY2Zi1iMThjNDJjOTFhZjMiXQ%3D%3D&page%5Bsize%5D=1"
                }
              }
            }
          }
        }
      }
    }
  }
}